# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Dataset (DO NOT PUSH RAW DATA)
data/raw/
data/processed/

# Outputs
outputs/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db